{% extends 'core/base.html' %}

{% block title %}Meu Relatório de Tempo{% endblock %}

{% block content %}
<h2 class="mb-4">Meu Relatório de Tempo</h2>

<form method="get" class="row g-2 mb-4">
    <div class="col-md-4">
      <input type="text" name="tarefa" class="form-control" placeholder="Buscar tarefa"
             value="{{ filtros.tarefa }}">
    </div>
    <div class="col-md-3">
      <input type="date" name="data_inicio" class="form-control"
             value="{{ filtros.data_inicio }}">
    </div>
    <div class="col-md-3">
      <input type="date" name="data_fim" class="form-control"
             value="{{ filtros.data_fim }}">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary w-100">Filtrar</button>
    </div>
</form>
<div class="me-3 d-flex align-items-center">    
    <a href="{% url 'tempo_manual' %}" class="btn btn-outline-dark">Adicinar Manual</a>
</div>
<hr>
{% for data, registros in registros_por_dia.items %}
    <h5 class="text-muted mt-4 mb-3">📅 {{ data|date:"d/m/Y" }}</h5>
    {% for registro in registros %}
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ registro.tarefa.titulo }}</h5>
                <p><strong>Sistema:</strong> {{ registro.tarefa.sistema }} - <strong>Tipo:</strong> {{ registro.tarefa.tipo }}</p>
                <p><strong>Início:</strong> {{ registro.inicio|date:"d/m/Y H:i" }}</p>
                <p><strong>Fim:</strong>
                    {% if registro.fim %}
                        {{ registro.fim|date:"d/m/Y H:i" }}
                    {% else %}
                        <span class="text-warning">Em andamento...</span>
                    {% endif %}
                </p>
                <p><strong>Duração:</strong>
                    {% if registro.fim %}
                        {{ registro.duracao }}
                    {% else %}
                        <span class="text-warning">Em andamento...</span>
                    {% endif %}
                </p>
                <p><strong>Status da Tarefa:</strong> {{ registro.tarefa.get_status_display }}</p>
                <a href="{% url 'editar_registro_tempo' registro.id %}" class="btn btn-sm btn-outline-primary">Editar</a>
            </div>
        </div>
    {% endfor %}
{% endfor %}
<div class="mt-4">
    <nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&tarefa={{ filtros.tarefa }}&data_inicio={{ filtros.data_inicio }}&data_fim={{ filtros.data_fim }}">Anterior</a>
          </li>
        {% endif %}
  
        <li class="page-item disabled">
          <span class="page-link">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
          </span>
        </li>
  
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&tarefa={{ filtros.tarefa }}&data_inicio={{ filtros.data_inicio }}&data_fim={{ filtros.data_fim }}">Próxima</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  
{% endblock %}
