{% extends 'core/base.html' %}
{% load form_filters %}
{% block title %}Login{% endblock %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow p-4">
            <img src="{% static 'img/logo_site2.png' %}" alt="Logo"
                style="max-height: 100px; height: auto; width: auto; display: block; margin: 0 auto;">
            <h2 class="text-center mb-4">Entrar</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </form>
            <hr>
            <div class="text-center mt-3">
                <p>Ainda não tem conta?</p>
                <a href="{% url 'registro' %}" class="btn btn-outline-secondary w-100">Criar Conta</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
