{% extends 'core/base.html' %}
{% block title %}Sistemas{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Sistemas</h2>
    <a href="{% url 'criar_sistema' %}" class="btn btn-primary">+ Criar novo</a>
</div>

{% if sistemas %}
<table class="table table-bordered table-stripe">
    <thead class="table-light">
        <tr>
            <th>Nome</th>
            <th>DataBase</th>
            <th>Data Mapeamento</th>
            <th class="text-end">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for sistema in sistemas %}
        <tr>
            <td>{{ sistema.nome }}</td>
            <td>{{ sistema.base_dados }}</td>
            <td>{{ sistema.data_mapeamento }}</td>
            <td class="text-end">
                <a href="{% url 'editar_sistema' sistema.id %}" class="btn btn-sm btn-outline-info mt-2">Editar</a>
                {%if user == sistema.criado_por%}
                    <a href="{% url 'excluir_sistema' sistema.id %}" class="btn btn-sm btn-outline-danger mt-2 ms-2">Excluir</a>
                {%endif%}    
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-muted">Nenhum sistema cadastrado ainda.</p>
{% endif %}
{% endblock %}
